{% extends "auctions/layout.html" %}
{% load static %}
<title>{% block title %}Create Listing{% endblock %}</title>

{% block body %}
    <h1 class="display mb-5 mt-3 text-info">Create Listing</h1>
    
    <div class="mb-3">
        <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div>
                <p>Logged in User: {{user.username}}</p>
                <input type="number" id="{{user.id}}" name="creator" value="{{user.id}}" hidden>
                
                <input class="form-control mt-2" type="text" name="title" placeholder="listing title" required>
                <input class="form-control mt-2" type="text" name="description" placeholder="Description" required> 
                <input class="form-control mt-2 mb-3" type="number" name="bid" placeholder="bid" required>
            </div>
            
            <div>
                
               <div class="text-info"> <label for="categories">Select Category (if any):</label></div>
    
                    <select class="form-select form-select-lg" name="categories" id="categories" multiple>
                        {% for category in categories %}
                            <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    
                    </select>
            </div>

            <div class="my-3 text-info">
                {{form.as_p}}
            </div>
    
            <div>
                <input class="btn btn-primary mt-3" type="submit" value="Create Listing!">
            </div>
        </form>
    </div>
    
{% endblock %}