{% extends "auctions/layout.html" %}
<title>{% block title %}results{% endblock %}</title>


{% block body %}
    <h1 class="display mb-5 mt-3 text-info">Active listings for {{category.name}}</h1>
    
    <div class="container-fluid">
        <ul class="list-group">
            {% for listing in listings %}
                <li class="list-group-item"><a href="{% url 'listings' listing.id %}">{{listing.title}}</a></li>
            {% empty %}
                <li class="list-group-item">No Listings for this category</li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}