{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="text-center">Active Listings</h2>

    {% for listing in listings %}
        {% if listing.active == True %}
            <div class="container-lg text-center">
                <div class="row">
                    <div class="col list-group-item-action">
                        <h5 class="mb-1"><a href="listings/{{listing.id}}">{{listing.title}}</a></h5>
                        <div class="description text-left">
                            <p class="mb-1">{{listing.description}}</p>
                        </div>
                        <div class="price text-left">
                            <strong>Current Price: <em>R{{listing.max_bid_amount}}</em></strong>
                        </div>
                        <div class="date text-left">
                            <small>Date Created: {{listing.pub_date}}</small>
                        </div>
                    </div>
                    <div class="col">
                        {% if listing.listing_image %}
                            <img src="{{listing.listing_image.url}}" alt="{{listing.title}} product image" width="150" height="150">
                        {% else %}
                            <img src="{% static 'auctions/Images/product_images.jpg' %}" width="150" height="150" alt="Default profile picture">
                        {% endif %}

                    </div>
                </div>
            </div>
        {% else %}
            <div class="container-fluid text-center" hidden>
                <div class="row">
                    <div class="col"><a href="listings/{{listing.id}}" style="color:red;">{{listing.title}} <strong>Auction Closed</strong></a></div>
                    <div class="col">Image area</div>
                </div>
            </div>
        {% endif %}
    
    {% endfor %}

<!--
    <ul class="list-group list-group-flush">
        {% for listing in listings %}
            {% if listing.active == True %}
                <li class="list-group-item"><a href="listings/{{listing.id}}">{{listing.title}}</a></li>
            {% else %}
                <li class="list-group-item"><a href="listings/{{listing.id}}" style="color:red;">{{listing.title}} <strong>Auction Closed</strong></a></li>
            {% endif %}
        {% endfor %}
    </ul>

-->
{% endblock %}