{% extends "auctions/layout.html" %}

{% block body %}
    <h1> {{listing.title}}</h2>
    <h3>Listed by: {{listing.creator}}</h3>
    <h6>Published on: {{listing.pub_date}}</h4>
    <p> {{listing.description}}</p>
    <p>bid: {{current_bid.amount}}</p>
    <br>
    <h3>Comments</h3>
       <ul>
            {% for comment in comments %}
                <li>{{comment.description}}</li>
            {% empty %}
            <li>No comments posted for this listing</li>
            {% endfor %}
       </ul>
        
    <div>
        <h4>Current bid: </h4>
            <p>R {{current_bid.amount}}</p>
            <p4>{{count_offers}} bid(s) made so far</p4>
    </div>

    <!-- Form section to allow logged in user to place a bid -->
    <div>
        <form action="{% url 'listings' listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" id="{{user.id}}" name="creator" value="{{user.id}}" hidden>
            <input class="form-control" type="number" name="bid" placeholder="bid">

            <!-- Using multiple submit buttons, one to bid, other to atdd item to watchlist. first button submits to the default URL-->
            <input class="btn btn-primary" type="submit" value="Place Bid!" id="bid" name="place">
            <!--This button will post to the "watchlist" url using the formaction attribute to add a custom URL to submit data to-->
            <!--showing success message-->
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags%} class="{{ message.tags }}" {% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input id="wishlist" class="btn btn-primary" type="submit" value="Add to Wishlist" name="wishlist">
        </form>
    </div>
    
    <div>
        Category
        <ul>
            {% for cat in categories %}
                <li>{{cat}}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <p3>Listed by: <strong>{{listing.creator}}</strong></p3>
        <br>
        <p4>Listing date: {{listing.pub_date}}</p4>
    </div>
{% endblock %}